  .navbar {
    background-color: #f1f1f1;
    padding: 6px 15px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  
  .nav-item {
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #f1f1f1;
    margin-right: 4px;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item.active{
    border: 2px solid gray;
    background-color:white;
  }