/* Add application styles & imports to this file! */
@import "~angular-notifier/styles";

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-description{
  color: gray;
  margin: 10px 0px 30px 0px;
}